In [3]:
api_key = "jiaHs9nkNEzJMjNC6XtICaQMx1reQqRQapYn3LsoJeRkWpZAFwuIrSoZuDmH9O9g"
secret_key = "w7z2c13PpmK4e7Y7eiwg81dCB83BHuO2bZEQNq65EQB5ByHFPABEPSamwtdxYNj2"

In [4]:
import pandas as pd #import pandas
from binance.client import Client

In [5]:
client = Client(api_key = api_key, api_secret = secret_key, tld = "com")

# Current Prices

In [6]:
client.get_symbol_ticker(symbol = "BTCUSDT") #current prices for one symbol

{'symbol': 'BTCUSDT', 'price': '38694.28000000'}

In [7]:
float(client.get_symbol_ticker(symbol = "BTCUSDT")["price"]) #change string to float

38739.0

In [8]:
client.get_avg_price(symbol = "BTCUSDT") #current avg price

{'mins': 5, 'price': '38725.73187123'}

In [10]:
# get current prices for all pairs
prices = client.get_all_tickers()
df = pd.DataFrame(prices)
df

       symbol       price
0      ETHBTC  0.07212600
1      LTCBTC  0.00297300
2      BNBBTC  0.00995900
3      NEOBTC  0.00052600
4     QTUMETH  0.00226900
...       ...         ...
1923  XNOUSDT  2.15000000
1924   COSTRY  0.23520000
1925  KAVAETH  0.00118800
1926    MCBNB  0.00618500
1927   ONETRY  2.53900000

[1928 rows x 2 columns]

In [12]:
df[df.symbol.str.contains("ETH")]

       symbol       price
0      ETHBTC  0.07212600
4     QTUMETH  0.00226900
5      EOSETH  0.00085200
6      SNTETH  0.00001782
7      BNTETH  0.00090100
...       ...         ...
1894   UNIETH  0.00401800
1895   XTZETH  0.00134800
1902   CRVETH  0.00123000
1921   XNOETH  0.00076810
1925  KAVAETH  0.00118800

[221 rows x 2 columns]

In [14]:
df[df.symbol.str.contains("ETH") & df.symbol.str.contains("USDT")]

          symbol          price
12       ETHUSDT  2789.74000000
705  ETHBULLUSDT    79.18000000
707  ETHBEARUSDT    12.20000000
850    ETHUPUSDT    29.80000000
851  ETHDOWNUSDT     1.03790000

In [24]:
last24 = client.get_ticker(symbol = "BTCUSDT") #24h price change statistics
last24

{'symbol': 'BTCUSDT',
 'priceChange': '153.70000000',
 'priceChangePercent': '0.399',
 'weightedAvgPrice': '38608.07909725',
 'prevClosePrice': '38487.72000000',
 'lastPrice': '38640.13000000',
 'lastQty': '0.00100000',
 'bidPrice': '38641.42000000',
 'bidQty': '0.71641000',
 'askPrice': '38641.43000000',
 'askQty': '0.25675000',
 'openPrice': '38486.43000000',
 'highPrice': '39265.20000000',
 'lowPrice': '38000.00000000',
 'volume': '34614.55844000',
 'quoteVolume': '1336401610.16773040',
 'openTime': 1643686472093,
 'closeTime': 1643772872093,
 'firstId': 1242525638,
 'lastId': 1243439155,
 'count': 913518}

In [25]:
last24["openTime"]
pd.to_datetime(last24["openTime"], unit ="ms")

Timestamp('2022-02-01 03:34:32.093000')

In [17]:
# open price for last 24 hours
open_price = float(last24["openPrice"])
open_price

38505.35

In [19]:
# close price for last 24 hours
close_price = float(last24["lastPrice"])
close_price

38678.03

In [20]:
high_price = float(last24["highPrice"])
high_price

39265.2

In [26]:
low_price = float(last24["lowPrice"])
low_price

38000.0